whatsapp agent.json
{
  "name": "whatsapp agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -96
      ],
      "id": "096599c9-0b8a-47a4-a3f3-91f9c38effb6",
      "name": "WhatsApp Trigger",
      "webhookId": "4a662fa2-a430-4b30-9e95-992540f925cf",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "CvxuwFUSZXxxoksG",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('WhatsApp Trigger').item.json.messages[0].text.body}}",
        "options": {
          "systemMessage": "You are a helpful assistant. Help user with their queries and schedule Google Calendar events when requested."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        -96
      ],
      "id": "467890c3-498f-4f63-ae3b-e3f13bc73123",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1145568545307502",
        "recipientPhoneNumber": "={{$(\"WhatsApp Trigger\").item.json.messages[0].from}}",
        "textBody": "={{$('AI Agent').item.json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        528,
        -96
      ],
      "id": "b56d1a97-6a72-4230-a49a-629e1ebadda3",
      "name": "Send message",
      "webhookId": "c6ec10d3-514e-4b99-b5cd-e20f90604a32",
      "credentials": {
        "whatsAppApi": {
          "id": "jPzdPK5xNC89TkD2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        144
      ],
      "id": "5530e02b-3bde-429a-9f24-d0ac94615274",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wP8YhJipo74tPdQR",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "whatsapp-session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        176,
        160
      ],
      "id": "20b744f2-da12-42b8-a811-2a1bcccd9ae5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gentleman1465@gmail.com",
          "mode": "list",
          "cachedResultName": "gentleman1465@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        160
      ],
      "id": "81a85197-7b8e-440b-9437-e12ba5ab3eca",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pyViJMP0LI2psOA4",
          "name": "Google Calendar OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15556614016",
            "phone_number_id": "1145568545307502"
          },
          "contacts": [
            {
              "profile": {
                "name": "Abhinav Singh"
              },
              "wa_id": "918218269980",
              "user_id": "IN.27166563539676131"
            }
          ],
          "messages": [
            {
              "from": "918218269980",
              "from_user_id": "IN.27166563539676131",
              "id": "wamid.HBgMOTE4MjE4MjY5OTgwFQIAEhggQUMwODExMEY4QjQ3QkE4QkQ5MTNCMDk3MjhGMThGN0QA",
              "timestamp": "1780830292",
              "text": {
                "body": "who is the prime minister of india"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "07689a9a-b050-43a4-9013-7414868cbe1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05d07db2c987b2718c55a2991085b57254521a433421ab26cf1e8ff08a6d67a6"
  },
  "nodeGroups": [],
  "id": "fzP21pJ5IxRQseCf",
  "tags": []
}